/* max-width utils*/
.mw-sm {
  max-width: 576px;
}

.mw-md {
  max-width: 768px;
}

.mw-lg {
  max-width: 992px;
}

.mw-xl {
  max-width: 1200px;
}

.mw-xxl {
  max-width: 1400px;
}

/* scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 0.3rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
  background: #fcfcfc;
}
